# Server
PORT=3001
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=2624
DB_NAME=smart_workforce
DB_USER=postgres
DB_PASSWORD=TuVu@2624

# Used by node-pg-migrate
DATABASE_URL=postgresql://postgres:TuVu@2624@localhost:2624/smart_workforce

# JWT
JWT_SECRET=7bddd4dff36bc7da7c68595ed4a3b802bef495fd39f7ca8ee9d52a4b3b311d8e
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173

# Background jobs (cron expressions)
CRON_PAYROLL_SCHEDULE=0 0 * * *
CRON_REMINDER_SCHEDULE=*/30 * * * *
